node_modules/
vendor/
.env
*.log
.DS_Store
npm-debug.log

# Específicos de Laravel
bootstrap/cache/
storage/framework/sessions/*
storage/framework/views/*.php
storage/framework/cache/*
storage/framework/testing/*
public/hot
public/storage
phpunit.xml
phpunit.xml.dist
tests/

# Repositorios
**/.git/
.gitignore
.gitattributes

# Archivos y directorios que podrían no ser relevantes para tu proyecto pero que son comunes
*.tar
*.tar.gz
*.rar
*.zip
*.back
*.backup
*.tmp
*.temp